@import "./default";
@import "./mixin";

* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

header{

    /* ------------------------------導覽列---------------------------------------- */
    .navbar {
        width: 100%;
        height: 100px;
        background-color: $TWDFBlue;
        position: relative;

        .TWDFLogo{
            margin: 10px;
            position: absolute;
        }
        
        .NavBtns{
            position: absolute;
            right: 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            .NavBtn{
                cursor: pointer;
                margin-right: 50px;
            }
        }
        .LogIn{
            width: 116px;
            height: 64px;
            background-color: rgb(252, 211, 131);
            text-align: center;
            line-height: 64px;
            cursor: pointer;
            text-decoration: unset;
            margin-right: 50px;
        }
    }

    /* ------搜尋區塊-- */
    .Searchbox {
        width:100%;
        height: 136px;
        // background-color: black;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .Searchingbar{
            width: 546px;
            height: 42px;
            // background-color: $TWDFBlue;
            color: white;
            border: 3px solid black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 10px;

            .SearchingLogo{
                // width: 21px;
                position: absolute;
                right: 10px;
            }
        }

        .Hashtags{
            display: flex;
            justify-content: center;
            align-items: center;

            .tag{
                width: 60px;
                height: 28px;
                line-height: 28px;
                font-size: xx-small;
                text-align: center;
                background-color: rgb(189, 200, 213);
                margin-right: 12px;
            }
        }
    }
}

/* ------------------------------主要內容區塊----------------------------------- */
main{
    .content {
        width: 1140px;
        height: 3000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        /* ---------------------分頁標題-------------------------- */

        .ForumTitle{
            width: 100%;
            height: 108px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 5px solid black;

            h1{
                color: black;
                font-weight: 200;
            }
        }

        /* ------------------主要內容左邊區塊----------------------- */
        .content-l {
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;

            /* ------主題區塊-- */
            .content-l-box {
                width: 166px;
                height: 388px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: black;
                margin-top: 75px;

                /* ------我要發問----- */
                .QuestionBtn{
                    width: 126px;
                    height: 36px;
                    line-height: 36px;
                    background-color: white;
                    border-radius: 8px;
                    text-align: center;
                    margin-top: 18px;
                    margin-bottom: 8px;

                }

                /* ------主題盒子----- */
                .QuestionCategory{
                    text-align: center;
                    .QuestionTab {
                        width: 100%;
                        height: 36px;
                        line-height: 36px;
                        color: white;
                    }
                    .Active{
                        width: 118px;
                        border-bottom: 1px solid white;
                    }
                }
            }
        }

        /* ------------------主要內容中間區塊----------------------- */
        .content-m {
            width: 65%;
            height: 100%;
            // background-color: rgb(220, 228, 243);

            /* ------主要內容區塊-- */
            .Mainbox {
                width: 100%;
                height: 90%;
                // background-color: rgb(44, 44, 219);
                margin-top: 27px;

                /* ------分頁按鈕列-- */
                // .Paginationbox {
                //     width: 100%;
                //     height: 5%;
                //     background-color: rgb(36, 170, 211);
                // }

                .case-group{
                    width: 100%;
                    height: 90%;
                    // background-color: darkgrey;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .casebox{
                        width: 743px;
                        height: 102px;
                        border: 1px solid rgb(203, 203, 203);
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        .CaseL-Content{
                            
                            .WhoseCase{
                                margin-top: 4px;
                                margin-bottom: 6px;
                                display: flex;
                                align-items: center;
                                height: 26px;
    
                                .Headshot{
                                    width: 26px;
                                    height: 26px;
                                    border-radius: 50%;
                                    background-color: rgb(203, 203, 203);
                                    margin-left: 21px;
                                    margin-right: 8px;
                                }
                                .Name{
                                    width: 180px;
                                    background-color: rgb(203, 203, 203);
    
                                }
                                .Checkbox{
                                    width: 12px;
                                    height: 12px;
                                    background-color: rgb(203, 203, 203);
                                    margin-left: 8px;
                                    margin-right: 6px;
                                }
                                .Views{
                                    display: flex;
                                    margin-left: 22px;
                                    margin-right: 16px;
                                }
                                .Answers{
                                    display: flex;
                                }
                            }
    
                            .CaseTitle{
                                display: inline-block;
                                height: 34px;
                                line-height: 34px;
                                border: 1px solid rgb(203, 203, 203);
                                margin-left: 14px;
                                margin-bottom: 10px;
                                padding: 0 16px;
                            }
    
                            .CaseTags{
                                display: flex;
                                margin-left: 14px;
    
                                .Tag{
                                    height: 16px;
                                    line-height: 16px;
                                    display: inline-block;
                                    font-size: xx-small;
                                    background-color: rgb(203, 203, 203);
                                    border-radius: 4px;
                                    padding: 0 9px;
                                    margin-right: 3px;
                                }
                            }
                        }

                        .CaseR-IMG{
                            margin-top: 7px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        /* ------------------主要內容右邊區塊----------------------- */
        .content-r {
            width: 20%;
            // height: 100%;
            background-color: rgb(58, 58, 58);

            /* ------側邊盒子區塊-- */
            .content-r-box {
                width: 100%;
                // height: 80%;
                display: flex;
                flex-direction: column;

                /* ------發布按鈕-- */
                .QuestionLeaseBtn{
                    width: 164px;
                    height: 58px;
                    background-color: rgb(58, 58, 58);
                    color: white;
                    text-align: center;
                    line-height: 58px;
                    font-size: 29pt;
                    margin: auto ;
                    margin-top: 18px;
                    margin-bottom: 22px;
                }

                /* ------發布區塊-- */
                .Releasebox { 
                    margin-left: 10px;
                    /* ------側邊盒子-- */
                    .ReleaseboxTitle {
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        color: white;
                        font-size: 18pt;
                    }
                    .ReleaseboxeEach{
                        margin-bottom: 14px;
                        
                        .ReleaseEachTitle{
                            color: white;
                        }
                        .ReleaseEachDetails{
                            font-size: x-small;
                            color: white;
                            display: flex;

                            .ReleaseEachAnswers{
                                margin-right: 13px;
                            }
                        }
                    }
                }
                /* ------達人榜-- */
                .Masterlist{
                    margin-left: 10px;
                    /* ------達人-- */
                    .MasterlistTitle {
                        width: 100%;
                        height: 50px;
                        line-height: 50px;
                        color: white;
                        font-size: 18pt;
                    }
                    .MasterlistEach{
                        margin-bottom: 14px;

                        .MasterHeadshot{
                            width: 33px;
                            height: 33px;
                            border-radius: 50%;
                            background-color: yellowgreen;
                        }
                    }    
                }
            }
        }
    }
}

/* ------------------------------頁角-------------------------------------- */
footer{
    .footer {
        width: 100%;
        height: 300px;
        // background-color: rgb(231, 21, 49);
    }
}

/* --------------------------注意事項------------------------------------ */
/* 高度只是暫定可以自行更動 */
/* 區塊背景顏色方便辨識 */
/* 側邊盒子區塊 (content-r-box) 挑整高度,可以改變盒子內間距 */
/* 側邊盒子 xxx可以命名,記得要在創造它的Class */