@mixin EllipseColor {
    
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(ellipse,rgb(0 , 43, 80),rgb(0, 17, 39));
    background: -o-radial-gradient(ellipse,rgb(0 , 43, 80),rgb(0, 17, 39));
    background: -moz-radial-gradient(ellipse,rgb(0 , 43, 80),rgb(0, 17, 39));
    background: radial-gradient(ellipse,rgb(0 , 43, 80),rgb(0, 17, 39));
    
}

@mixin EllipseRedColor {
    
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(ellipse,rgb(204 , 58, 0),rgb(45, 13, 0));
    background: -o-radial-gradient(ellipse,rgb(204 , 58, 0),rgb(45, 13, 0));
    background: -moz-radial-gradient(ellipse,rgb(204 , 58, 0),rgb(45, 13, 0));
    background: radial-gradient(ellipse,rgb(204 , 58, 0),rgb(45, 13, 0));
    
}

@mixin CircleRedColor {
    
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(circle,rgb(102 , 29, 0),rgb(0, 0, 0));
    background: -o-radial-gradient(circle,rgb(102 , 29, 0),rgb(0, 0, 0));
    background: -moz-radial-gradient(circle,rgb(102 , 29, 0),rgb(0, 0, 0));
    background: radial-gradient(circle,rgb(102 , 29, 0),rgb(0, 0, 0));
    
}

@mixin GoogleFont {
    font-family: 'Jacques Francois Shadow', cursive;
}

@mixin OratorStdSlanted  {
    font-family: 'Cantarell', sans-serif;
}